*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #343a40;
  --main-txt-color: #d7d1de;
  --main-color: #371b58;
  --main-color-light: #5b4b8a;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  line-height: 1;
  color: var(--main-txt-color);
}

.margin_small {
  margin-top: 5rem;
}

.margin_medium {
  margin-top: 8rem;
}

/* COMPONENTS */

.main {
  max-width: 120rem;
  margin: 5rem auto 2rem;
  border: 0.5rem solid #fff;

  background: rgb(33, 37, 41);
  background: linear-gradient(
    125deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(33, 37, 41, 1) 18%,
    rgba(33, 37, 41, 1) 100%
  );
}

.hero__main {
  height: 80vh;
  position: relative;
  z-index: 500;
}

.hero__main_header {
  padding: 15rem 10rem 0;
}

.header {
  font-size: 6.4rem;
}

.header__secondary {
  font-size: 4rem;
}

.hero__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1000;
  opacity: 0.35;
  clip-path: polygon(42% 0, 100% 0%, 100% 100%, 0% 100%);
}

.video_content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  padding: 1.4rem 2.8rem;
  border-radius: 5rem;
  border: 0.3rem solid var(--main-txt-color);
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1) translateY(-5px);
  background-color: var(--main-color-light);
  box-shadow: 0 20px 10px rgba(255, 255, 255, 0.1);
}

.btn:active {
  background-color: #371b58;
  transform: scale(1) translateY(0);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
}

.hero__btn {
  font-family: "Permanent Marker", cursive;
  background-color: var(--main-color);
  font-size: 2.3rem;
  color: var(--main-txt-color);
  /* background-color: var(--main-bg-color); */
}

#schedules {
  /* height: 250vh; */
  padding: 3rem 10rem 0;
}

.testimonials {
  max-width: 80rem;
  margin: 0 auto;
}

.figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 16.5rem;
}

.testimonial:not(:last-child) {
  position: relative;
  border-bottom: 0.1rem solid #fff;
}

.testimonial__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 4rem;
  z-index: 20;
}

/* .testimonial1::after {
  content: "";
  background: url("./imgs/blob.svg");
  height: 50rem;
  width: 50rem;
  position: absolute;
  top: -120px;
  right: 100px;
  clip-path: circle(40%);
  z-index: 10;
} */

.testimonial__description * {
  z-index: 50;
}

.testimonial_img {
  width: 25rem;
}

.testimonial2_img {
  width: 10rem;
}

.testimonial3_img {
  width: 25rem;
}

#callToAction {
  background-color: #fff;
  height: 50vh;
}
